   <img class="modal__poster" src="{{image}}" alt="{{alt}}">
    <table  class="modal__table" border="1">
      <th class="modal__title" colspan="2">{{Title_film}}</th>
      <tr>
        <td class="modal__item modal__item-votes">Vote/Votes</td>
        <td class="modal__item-value modal__item-value-votes"><span class="modall__span-vote">{{значение}}</span> / {{значение}}</td>
      </tr>
      <tr>
        <td class="modal__item modal__item-popularity">Popularity</td>
        <td class="modal__item-value modal__item-value-popularity">{{значение}}</td>
      </tr>
      <tr>
        <td class="modal__item modal__item-orig-title">Origrnal Title</td>
        <td class="modal__item-value modal__item-value-orig-title">{{значение}}</td>
      </tr>
      <tr>
        <td class="modal__item modal__item-genre">Genre</td>
        <td class="modal__item-value modal__item-value-genre">{{значение}}</td>
      </tr>
      <tr>
        <td class="modal__item modal__item-about" colspan="2">Abaut</td>
      </tr>
      <td class="modal__item-value modal__item-value-about" colspan="2">{{значение}}</td>

        <tr class="modal__buttons">
          <td>
            <button class="modal__button modal__button-watched" type="button">
              ADD TO WATCHED
            </button>
          </td>
          <td>
            <button class="modal__button modal__button-queue" type="button">
              ADD TO QUEUE
            </button>
          </td>
        </tr>
    </table>