<footer class="footer">
    <div class="container footer__container">
        <div class="footer__box-one">
            <p class="footer__text">© 2021</p>
            <p class="footer__text">All Rights Reserved</p>
        </div>
        <div class="footer__box-two">
            <p class="footer__text">Developed with</p>
            <svg class="footer__svg">
                <use href="./images/svg/films-svgs.svg#icon-heart"></use>
            </svg>
            <p class="footer__text">by</p>
            <p class="footer__text">GoIT Students</p>
        </div>
    </div>
</footer>