<div class="container">
    <div class="second-container">
    <ul class="container__list">
        <li class="container__card">
            <a href='#' class='container__link'>
                <div class='container__image-wrapper'>
                    <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy' />
                </div>
                <div class='container__information'>
                    <h2 class='container__title'>Title</h2>
                    <p class='container__text'> Content
                        <!-- <span class='container__rating'>Vote</span> -->
                    </p>
                </div>
            </a>
        </li>
                <li class="container__card">
                    <a href='#' class='container__link'>
                        <div class='container__image-wrapper'>
                            <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                 />
                        </div>
                        <div class='container__information'>
                            <h2 class='container__title'>Title</h2>
                            <p class='container__text'> Content
                                <!-- <span class='container__rating'>Vote</span> -->
                            </p>
                        </div>
                    </a>
                </li>
                        <li class="container__card">
                            <a href='#' class='container__link'>
                                <div class='container__image-wrapper'>
                                    <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                         />
                                </div>
                                <div class='container__information'>
                                    <h2 class='container__title'>Title</h2>
                                    <p class='container__text'> Content
                                        <!-- <span class='container__rating'>Vote</span> -->
                                    </p>
                                </div>
                            </a>
                        </li>
                                <li class="container__card">
                                    <a href='#' class='container__link'>
                                        <div class='container__image-wrapper'>
                                            <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                                 />
                                        </div>
                                        <div class='container__information'>
                                            <h2 class='container__title'>Title</h2>
                                            <p class='container__text'> Content
                                                <!-- <span class='container__rating'>Vote</span> -->
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                        <li class="container__card">
                                            <a href='#' class='container__link'>
                                                <div class='container__image-wrapper'>
                                                    <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                                         />
                                                </div>
                                                <div class='container__information'>
                                                    <h2 class='container__title'>Title</h2>
                                                    <p class='container__text'> Content
                                                        <!-- <span class='container__rating'>Vote</span> -->
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                                <li class="container__card">
                                                    <a href='#' class='container__link'>
                                                        <div class='container__image-wrapper'>
                                                            <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                                                 />
                                                        </div>
                                                        <div class='container__information'>
                                                            <h2 class='container__title'>Title</h2>
                                                            <p class='container__text'> Content
                                                                <!-- <span class='container__rating'>Vote</span> -->
                                                            </p>
                                                        </div>
                                                    </a>
                                                </li>
                                                        <li class="container__card">
                                                            <a href='#' class='container__link'>
                                                                <div class='container__image-wrapper'>
                                                                    <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                                                         />
                                                                </div>
                                                                <div class='container__information'>
                                                                    <h2 class='container__title'>Title</h2>
                                                                    <p class='container__text'> Content
                                                                        <!-- <span class='container__rating'>Vote</span> -->
                                                                    </p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                                <li class="container__card">
                                                                    <a href='#' class='container__link'>
                                                                        <div class='container__image-wrapper'>
                                                                            <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                                                                 />
                                                                        </div>
                                                                        <div class='container__information'>
                                                                            <h2 class='container__title'>Title</h2>
                                                                            <p class='container__text'> Content
                                                                                <!-- <span class='container__rating'>Vote</span> -->
                                                                            </p>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                        <li class="container__card">
                                                                            <a href='#' class='container__link'>
                                                                                <div class='container__image-wrapper'>
                                                                                    <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                                                                         />
                                                                                </div>
                                                                                <div class='container__information'>
                                                                                    <h2 class='container__title'>Title</h2>
                                                                                    <p class='container__text'> Content
                                                                                        <!-- <span class='container__rating'>Vote</span> -->
                                                                                    </p>
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                                <li class="container__card">
                                                                                    <a href='#' class='container__link'>
                                                                                        <div class='container__image-wrapper'>
                                                                                            <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                                                                                 />
                                                                                        </div>
                                                                                        <div class='container__information'>
                                                                                            <h2 class='container__title'>Title</h2>
                                                                                            <p class='container__text'> Content
                                                                                                <!-- <span class='container__rating'>Vote</span> -->
                                                                                            </p>
                                                                                        </div>
                                                                                    </a>
                                                                                </li>
                                                                                        <li class="container__card">
                                                                                            <a href='#' class='container__link'>
                                                                                                <div class='container__image-wrapper'>
                                                                                                    <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy'
                                                                                                         />
                                                                                                </div>
                                                                                                <div class='container__information'>
                                                                                                    <h2 class='container__title'>Title</h2>
                                                                                                    <p class='container__text'> Content
                                                                                                        <!-- <span class='container__rating'>Vote</span> -->
                                                                                                    </p>
                                                                                                </div>
                                                                                            </a>
                                                                                        </li>
    </ul>
    </div>

    <div class="container__pagination">
            <button class="container__pagination-button arrow-left">
                <svg width="16" height="16">
                    <use href="./images/svg/films-svgs.svg#icon-arrow-left"></use>
                </svg>
            </button>

        <ul class="container__pagination-pages">
            <span class="container__pagination-dots" id="after">...</span>
            <li>
               
            </li>
            <span class="container__pagination-dots" id="after">...</span>
        </ul>

            <button class="container__pagination-button arrow-right">
                <svg width="16" height="16">
                    <use href="./images/svg/films-svgs.svg#icon-arrow-right"></use>
                </svg>
            </button>
    </div>
</div>