<section class="gallery-library">
    <div class="container">
        <ul class="gallery-library__list">
            <li class="gallery-library__card">
                <img class="gallery-library__img" src="https://via.placeholder.com/280x398" alt="" width="280" height="398">
                <div class="gallery-library__info-wrap">
                    <p class="gallery-library__name">GREYHOUND</p>
                    <div class="gallery-library__info">
                        <span class="gallery-library__genre">Drama, Action</span>
                        <span class="gallery-library__year">2020</span>
                        <span class="gallery-library__rating">10.0</span>
                    </div>
                </div>
            </li>
        </ul>

        <div class="gallery-library__pagination">
            <span class="gallery-library__arrow">
                <svg class="icon-arrow__left" width="16" height="16">
                    <use href="./images/svg/films-svgs.svg#icon-arrow-left"></use>
                </svg>
            </span>
            <a href="#">1</a>
            <span class="gallery-library__arrow">
                <svg class="icon-arrow__right" width="16" height="16">
                    <use href="./images/svg/films-svgs.svg#icon-arrow-right"></use>
                </svg>
            </span>
        </div>
    </div>
</section>

