<section class="gallery-home"></section>
<div class="container">
    <ul class="container__list">
        <li class="container__card">
            <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy' />
                <div class='container__image-wrapper'>
                    
                </div>
                <div class='container__information'>
                    <h2 class='container__title'>Title</h2>
                    <p class='container__text'> Content
                        <!-- <span class='container__rating'>Vote</span> -->
                    </p>
                </div>
        </li>
    <li class="container__card">
            <div class='container__image-wrapper'>
                <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy' />
            </div>
            <div class='container__information'>
                <h2 class='container__title'>Title</h2>
                <p class='container__text'> Content
                    <!-- <span class='container__rating'>Vote</span> -->
                </p>
            </div>
    </li>
    <li class="container__card">
            <div class='container__image-wrapper'>
                <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy' />
            </div>
            <div class='container__information'>
                <h2 class='container__title'>Title</h2>
                <p class='container__text'> Content
                    <!-- <span class='container__rating'>Vote</span> -->
                </p>
            </div>
    </li>
    <li class="container__card">
            <div class='container__image-wrapper'>
                <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy' />
            </div>
            <div class='container__information'>
                <h2 class='container__title'>Title</h2>
                <p class='container__text'> Content
                    <!-- <span class='container__rating'>Vote</span> -->
                </p>
            </div>
    </li>
    <li class="container__card">
            <div class='container__image-wrapper'>
                <img class="container__image" src='./images/home/desktop/header-bg-desktop.jpg' alt='Title' loading='lazy' />
            </div>
            <div class='container__information'>
                <h2 class='container__title'>Title</h2>
                <p class='container__text'> Content
                    <!-- <span class='container__rating'>Vote</span> -->
                </p>
            </div>
    </li>
    </ul>
    </div>

    <div class="container__pagination">
            <button class="container__pagination-button arrow-left">
                <svg width="16" height="16">
                    <use href="./images/svg/films-svgs.svg#icon-arrow-left"></use>
                </svg>
            </button>

        <ul class="container__pagination-pages">
            <span class="container__pagination-dots" id="after">...</span>
            <li class="container__pagination-item">
                <a class="container__pagination-link" href="">1</a>
            </li>
            <li class="container__pagination-item">
                <a class="container__pagination-link" href="">2</a>
            </li>
            <li class="container__pagination-item">
                <a class="container__pagination-link" href="">3</a>
            </li>
            <li class="container__pagination-item">
                <a class="container__pagination-link" href="">4</a>
            </li>
            <li class="container__pagination-item">
                <a class="container__pagination-link" href="">5</a>
            </li>
            <span class="container__pagination-dots" id="after">...</span>
        </ul>

            <button class="container__pagination-button arrow-right">
                <svg width="16" height="16">
                    <use href="./images/svg/films-svgs.svg#icon-arrow-right"></use>
                </svg>
            </button>
</div>