<section class="gallery-library">
    <div class="container container__gallery-lib">
        <ul class="gallery-library__list">
            <!-- <li class="gallery-library__card">
                <img class="gallery-library__img" src="https://via.placeholder.com/280x398" alt="">
                <div class="gallery-library__info-wrap">
                    <p class="gallery-library__name">GREYHOUND</p>
                    <div class="gallery-library__info">
                        <span class="gallery-library__genre">Drama, Action</span>
                        <span class="gallery-library__year">2020</span>
                        <span class="gallery-library__rating">10.0</span>
                    </div>
                </div>
            </li>
            <li class="gallery-library__card">
                <img class="gallery-library__img" src="https://via.placeholder.com/280x398" alt="">
                <div class="gallery-library__info-wrap">
                    <p class="gallery-library__name">GREYHOUND</p>
                    <div class="gallery-library__info">
                        <span class="gallery-library__genre">Drama, Action</span>
                        <span class="gallery-library__year">2020</span>
                        <span class="gallery-library__rating">10.0</span>
                    </div>
                </div>
            </li>
            <li class="gallery-library__card">
                <img class="gallery-library__img" src="https://via.placeholder.com/500x600" alt="">
                <div class="gallery-library__info-wrap">
                    <p class="gallery-library__name">GREYHOUND</p>
                    <div class="gallery-library__info">
                        <span class="gallery-library__genre">Drama, Action</span>
                        <span class="gallery-library__year">2020</span>
                        <span class="gallery-library__rating">10.0</span>
                    </div>
                </div>
            </li>
            <li class="gallery-library__card">
                <img class="gallery-library__img" src="https://via.placeholder.com/400x550" alt="">
                <div class="gallery-library__info-wrap">
                    <p class="gallery-library__name">GREYHOUND</p>
                    <div class="gallery-library__info">
                        <span class="gallery-library__genre">Drama, Action</span>
                        <span class="gallery-library__year">2020</span>
                        <span class="gallery-library__rating">10.0</span>
                    </div>
                </div>
            </li> -->
        </ul>

        <div class="gallery-library__pagination">
            <span class="gallery-library__arrow gallery-library__arrow--left">
                <svg class="icon-arrow__left" width="16" height="16">
                    <use href="./images/svg/films-svgs.svg#icon-arrow-left"></use>
                </svg>
            </span>
            <a class="gallery-library__page" href="#">1</a>
             <a class="gallery-library__page" href="#">15</a>
              <a class="gallery-library__page" href="#">120</a>
            <span class="gallery-library__arrow gallery-library__arrow--right">
                <svg class="icon-arrow__right" width="16" height="16">
                    <use href="./images/svg/films-svgs.svg#icon-arrow-right"></use>
                </svg>
            </span>
        </div>
    </div>
</section>

