<header class="header-home">
  <div class="container">
    <div class="navigation-wrapper">
      <svg class="header-home__logo" width="24" height="24">
        <use href="./images/svg/films-svgs.svg#icon-film"></use>
      </svg>
      <h1 class="header-home__title">Filmoteka</h1>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item active">
            <a class="nav__link" href="">Home</a>
          </li>
          <li class="nav__item"><a class="nav__link" href="">My library</a></li>
        </ul>
      </nav>
    </div>
    <form class="search__form js-search-form">
      <input
        class="search__input js-search__input"
        type="text"
        name="searchQuery"
        placeholder="Поиск фильмов"
      />
      <button class="search__btn js-search__btn" type="submit">
        <svg class="search__icon" width="12" height="12">
          <use href="./images/svg/films-svgs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="search__warn">
      Search result not successful. Enter the correct movie name
    </p>
  </div>
</header>
