.second-container {
    padding-top: 60px;
}

.container__list {
    // padding-top: 20px;
    padding-bottom: 40px;
@include screen-size(tablet){
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        margin: -20px;
    }
}

.container__card {

    transform: scale(1);
    transition: transform 300ms linear;

@include screen-size(mobile-only){
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
@include screen-size(tablet) {
        margin: 15px;
        flex-basis: calc((100% - 2 * 30px) / 2);
    }
@include screen-size(desktop){
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
}

.container__card:hover,
.container__card:focus {
    transform: scale(1.04);
}

.container__image {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 280px;
    height: 398px;

    @include screen-size(tablet) {
        width: 294px;
        }

    @include screen-size(desktop) {
        width: 274px;
    }
}

.container__title,
.container__text {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
}

.container__title {
    text-transform: uppercase;
    color: $color-main-text;
}

.container__text {
    color: $color-accent;
}

.container__pagination-button{
    border: none;
    width: 40px;
    height: 40px;
}


// Pagination

.container__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

    @include screen-size(mobile-only) {
        padding: 40px 0;
    }

    @include screen-size(tablet) {
            padding: 50px 0 60px 0;
        }
}

.container__pagination-pages {
    display: flex;
}

.container__pagination-button:not(:last-child),
.container__pagination-dots {
    margin-right: 16px;
}

.container__pagination-button {
    padding: 0;
    background-color: $color-main-white;
    border: none;
    color: $color-main-text;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    // width: 40px;
    // height: 40px;
}

.container__pagination-button:hover {
    background-color: $color-accent;
    
transition: $animation;
}

// .pagination--current {
//     width: 40px;
//     height: 40px;
//     border-radius: 5px;
//     background-color: $color-accent;
//     color: $color-main-white;
// }

.container__pagination-dots{
    @include screen-size(mobile-only) {
        display: none;
    }
}

.arrow-left,
.arrow-right {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $color-footer-bg;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    stroke: $color-main-text;
    background-position: center;
    background-repeat: no-repeat;
}
