.basicLightbox {
    overflow: scroll;
}

.team-modal {
    text-decoration: underline;

    cursor: pointer;
}

.team-wrapper {
    background-image: url(../images/team/tarantino.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: auto;
    margin: -20px;
    @include screen-size(mobile-only){
        margin-top: 70px;
    }

    width: 240px;

    background-color: $color-main-white;
    border-radius: 15px;

    @include screen-size(tablet) {
        width: 600px;

        border-radius: 25px;
    }

    @include screen-size(desktop) {
        margin: -30px;

        width: 800px;
    }
}

.team-card {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;

    width: calc((100% - 80px) / 2);

    @include screen-size(tablet) {
        width: calc((100% - 160px) / 4);
    }

    @include screen-size(desktop) {
        margin: 30px;

        width: calc((100% - 240px) / 4);
    }
}

.team-image {
    margin-bottom: 10px;

    width: 150px;
    height: auto;

    // border-radius: 50%;
    box-shadow: 5px 5px 11px -2px $color-main-text;
}

.team-name {
    margin-bottom: 5px;

    font-family: $primary-font;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    color: $color-accent;
}

.team-container {
text-align: center;

}

.team-text {
    color: $color-accent;
    
}

.team-members {
    color: $color-accent;
}