.basicLightbox {
    overflow: scroll;
}

.team-modal {
    text-decoration: underline;
    cursor: pointer;
}

.team-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: auto;
    // margin: -20px;

    background-image: url(../images/team/tarantino.jpeg);
    background-repeat: no-repeat;
    background-size: contain;

    @include screen-size(mobile-only){
        padding-top: 100px;
            background-image: url(../images/team/team-bg.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
               
    }

    width: 260px;

    background-color: $color-main-white;
    border-radius: 15px;

    @include screen-size(tablet) {
        width: 700px;
        height: 486px;
        border-radius: 25px;
    }

    @include screen-size(desktop) {
        margin: -30px;
        height: 486px;
        width: 700px;
    }
}

.team-card {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
        @include screen-size(mobile-only) {
    margin: 20px;
    
        width: calc((100% - 80px) / 2);
            }


    // @include screen-size(tablet) {
    //     width: calc((100% - 160px) / 4);
    // }

    // @include screen-size(desktop) {
    //     margin: 30px;

    //     width: calc((100% - 240px) / 4);
    // }
}



.team-card-lisa {
    @include screen-size(tablet) {
        position: relative;
        top: 276px;
        left: -25px;
        width: 150px;
        height: auto;
    }
}

.team-card-vova {
    @include screen-size(tablet) {
        position: relative;
        top: 20px;
        left: 20px;
        width: 150px;
        height: auto;
    }
}

.team-card-ilya {
    @include screen-size(tablet) {
        position: relative;
        top: 20px;
        left: 380px;
        width: 150px;
        height: auto;
    }
}

.team-card-lena {
    @include screen-size(tablet) {
        position: relative;
        top: 275px;
        left: 80px;
        width: 150px;
        height: auto;
    }
}

.team-card-roma {
    @include screen-size(tablet) {
        position: relative;
        top: 30px;
        left: 20px;
        width: 150px;
        height: auto;
    }
}

.team-image {
    margin-bottom: 10px;
    width: 150px;
    height: auto;
    @include screen-size(mobile-only) {
        width: 150px;
         height: 90px;
     }


    border-radius: 5px;
    box-shadow: 5px 5px 5px -1px $color-accent;
}

.team-name {
    margin-bottom: 5px;
    padding-bottom: 5px;

    font-family: $primary-font;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    color: $color-accent;

    border-bottom: 4px solid $color-accent;
// box-shadow: $color-main-white 0px 3px 5px 0px;
}

.team-container {
text-align: center;
    position: fixed;
        top: 50%;
        left: 50%;
        // right: 20%;
        transform: translate(-50%, -50%);
        top: -150px;
        // display: flex;
        // flex-wrap: wrap;
        width: 165px;
        height:100px;
        // margin: -20px;
        margin-left: 20px;
        margin-bottom: 100px;
        border-radius: 25%;
    
        // background-image: url(../images/team/tarantino.jpeg);
        // background-repeat: no-repeat;
        // background-size: cover;
    
        @include screen-size(mobile-only) {
           top: -260px;
        }
    
        // width: 240px;
    
        // background-color: $color-main-white;
        // border-radius: 15px;
    
        // @include screen-size(tablet) {
        //     width: 600px;
    
        //     border-radius: 25px;
        // }
    
        @include screen-size(desktop) {
            margin: -30px;
    
            // width: 600px;
        }
}

.team-text {
    color: $color-accent;
    margin-bottom: 5px;
    font-size: 16px;
}

.team-members {
    color: $color-accent;
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 4px solid $color-accent;
}